<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="google-site-verification" content="5JNjNwnCR4CQ8Ei7o6L4lUmygv0v9ATnO1apCe8UMDU" />
<meta name="msvalidate.01" content="BACBF8B54575E49109D3B04FFF407750" />
<meta property="og:image" content="/media/safestepnew/images/logo-og.jpg" />
<link rel="image_src" href="/media/safestepnew/images/logo-og.png" />
<link rel="shortcut icon" href="/media/safestepnew/images/favicon.ico" />
<link rel="mask-icon" href="/media/safestepnew/images/website_icon.svg">
<link rel="icon" sizes="192x192" href="/media/safestepnew/images/nice.png" />
<link rel="icon" sizes="128x128" href="/media/safestepnew/images/niceicon.png" />
<link rel="apple-touch-icon" sizes="128x128" href="/media/safestepnew/images/niceicon.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/media/safestepnew/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/media/safestepnew/images/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="167x167" href="/media/safestepnew/images/touch-icon-ipad-retina.png">
<link rel="apple-touch-icon" sizes="180x180" href="/media/safestepnew/images/touch-icon-iphone-retina.png">
<link rel="manifest" href="/media/safestepnew/js/manifest.json">


<link href='//fonts.googleapis.com/css?family=Raleway:300,400,500,700%7CLato:400,700' rel='stylesheet' type='text/css'>
<!-- <link rel="stylesheet" href="/media/safestepnew/css/r15-icons.css" /> -->
<link rel="stylesheet" href="/media/safestepnew/css/bootstrap.min.css">
<link rel="stylesheet" href="/media/safestepnew/css/slick.css" />
<link rel="stylesheet" href="/media/safestepnew/css/style.css" />
<!--[if lt IE 9]>
	<script src="/media/safestepnew/js/html5shiv.js" type="text/javascript"></script>
	<script src="/media/safestepnew/js/respond.min.js" type="text/javascript"></script>
[endif]-->

<script src='/scripts/JXTWidget.js'></script>
<!-- changes to /scripts/ -->
<script src='/media/COMMON/js/include-feed-3.0.js'></script>
<script src='/media/COMMON/js/responsive-plugins-0.js'></script>
<script src='/media/safestepnew/js/bootstrap.min.js'></script>
<!-- <script src='/media/safestepnew/js/modernizr.custom.21882.js'></script> -->
<!--<script src='/media/safestepnew/js/responsiveCarousel.js'></script>
<script src='/media/safestepnew/js/jquery.simplyscroll.min.js'></script>-->
<!-- <script src='/media/safestepnew/js/jquery.plugins.js'></script> -->
<script src='/media/safestepnew/js/slick.js'></script>
<script src='/media/safestepnew/js/myjs.js'></script>

<script src='/media/COMMON/debug.js'></script>
<script>
    $(document).ready(function() {
        if (window.location.pathname.indexOf('/news') > -1) {
            if ($("body").hasClass("webinars")) {
                $("body").addClass("blog");
            }
        }
    });
</script>

<style type="text/css">
    .main-banner video {
        opacity: 0.9;
    }
    
    .inner-banner {
        opacity: 1 !important;
    }
    
    #widget-search .container {
        padding: 28px;
        width: 100%;
    }
    
    #widget-search .container>.row {
        width: 1170px;
        margin: 0 auto;
    }
    
    #widget-search {
        margin-top: -109px;
    }
    
    form[action="/submit-vacancy"] .inner-banner {
        background-image: url("/media/safestepnew/images/submit_vacancy_tss.jpg");
    }
    
    form[action="/assess-hr"] .inner-banner {
        background-image: url("/media/safestepnew/images/tss_candidate_assess.jpg");
    }
    
    form[action="/contracting-hse"] .inner-banner {
        background-image: url("/media/safestepnew/images/tss_candidate_contract.jpg");
    }
    
    form[action="/executive-hse"] .inner-banner {
        background-image: url("/media/safestepnew/images/tss_candidate_exec_opp.jpg");
    }
    
    form[action="/permanent-hse"] .inner-banner {
        background-image: url("/media/safestepnew/images/tss_candidate_perm_opp.jpg");
    }
    
    form[action="/testimonials"] .inner-banner {
        background-image: url("/media/safestepnew/images/tss_testimonials.jpg");
    }
    
    form[action="/webinars"] .inner-banner {
        background-image: url("/media/safestepnew/images/tss_webinars_image.jpg");
    }
</style>