@import url("//fonts.googleapis.com/css?family=Raleway:300,400,500,700");
body {
    margin: 0;
}

#docContainer {
    width: 100%;
    max-width: 100% !important;
    margin: 0 !important;
    border: 0 !important;
    color: #333 !important;
    font-family: 'Raleway', sans-serif;
    font-size: 16px !important;
    line-height: 1.5 !important;
}

#fb-form-header1 {
    height: 0 !important;
    min-height: 0 !important;
}

#docContainer .column {
    padding: 0;
}

#docContainer .fb-item {
    display: block !important;
    overflow: hidden;
    position: relative;
    width: auto !important;
    padding: 2px !important;
    /* make sure box shadow isn't cut off */
    margin: 0 0 0.75em 0;
}

#docContainer .fb-header h2 {
    display: block !important;
    margin: 16px 0 5px 0;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-shadow: none;
}

#docContainer .fb-grouplabel {
    width: auto;
    padding: 0;
    margin: 0;
}

#docContainer .fb-grouplabel label {
    /*fonts*/
    font-size: 14px;
    color: #b3b3b3;
    font-weight: bold !important;
    display: none;
}

#docContainer .fb-checkbox label,
#docContainer .fb-radio label {
    margin: 1em 0 0.5em;
}

#docContainer .fb-input-box,
#docContainer .fb-input-date,
#docContainer .fb-textarea,
#docContainer .fb-dropdown,
#docContainer .fb-listbox,
#docContainer .fb-checkbox,
#docContainer .fb-radio {
    width: auto;
    margin: 0;
}

#docContainer .fb-input-box input,
#docContainer .fb-input-date input,
#docContainer .fb-textarea textarea,
#docContainer .fb-dropdown select,
#docContainer .fb-listbox select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    border: 1px solid #d8d8d8;
    border-radius: 0;
    font-size: 14px;
    line-height: 1.428571429;
    vertical-align: middle;
    background-color: #fff;
    color: #000;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#docContainer .fb-dropdown select[multiple],
#docContainer .fb-listbox select,
#docContainer .fb-textarea textarea {
    height: auto;
    background-image: none;
}

#docContainer .fb-textarea textarea {
    min-height: 9em;
    font-family: 'Raleway', sans-serif;
    resize: none;
}

#docContainer .fb-input-box input:focus,
#docContainer .fb-textarea textarea:focus {
    border-color: #001566;
    outline: 0;
    box-shadow: none;
}

#docContainer input[type="radio"] {
    margin: 0.1em 0;
}

#docContainer input[type="checkbox"] {
    margin: 0.2em 0;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #000;
    opacity: 1;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    opacity: 1;
    color: #000;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    opacity: 1;
    color: #000;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    opacity: 1;
    color: #000;
}

#fb-submit-button-div {
    height: auto !important;
    padding: 2px !important;
    /* match padding on group label */
}

#fb-submit-button {
    padding: 9px 35px;
    margin: 0 !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    text-align: center;
    font-size: 16px !important;
    text-shadow: none;
    cursor: pointer;
    background-color: #fff;
    color: #62BB46;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: none!important;
    -o-box-shadow: none!important;
    box-shadow: none!important;
    -ms-box-shadow: none!important;
    -moz-box-shadow: none!important;
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    line-height: 1.25;
    background-color: #62BB46;
    border: 1px solid #E4E7EF;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.09);
    padding: 8px 38px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 1.25;
    border-radius: 4px!important;
    text-transform: none;
    font-weight: 500;
}

#section1 {
    width: 60%;
    display: inline-block;
}

#fb-submit-button-div {
    width: 20px;
    display: inline-block;
}

#fb-submit-button:hover,
#fb-submit-button:active {
    background: #001566;
    color: #fff;
    border-color: transparent !important;
}

#docContainer label.error {
    position: absolute;
    top: 4px;
    right: 5px;
    z-index: 1;
    width: auto !important;
    padding: 0 !important;
    color: #FF931E;
}

.required {
    color: #FF931E;
}

input,
select,
textarea {
    -webkit-box-shadow: none!important;
    -o-box-shadow: none!important;
    box-shadow: none!important;
    -ms-box-shadow: none!important;
    -moz-box-shadow: none!important;
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}